script(src="javascripts/jquery.min.js")
script(src="javascripts/bootstrap.min.js")
script(type="text/javascript" src="/javascripts/static/js/manifest.2ae2e69a05c33dfc65f8.js")
script(type="text/javascript" src="/javascripts/static/js/vendor.35831dc83ba799bae452.js")
script(type="text/javascript" src="/javascripts/static/js/app.dd95e2b98a8e95f1d17e.js")
